:root {
    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: Noto Sans, sans-serif;

    /*Colour Palette */
    --primary-bg-color: #131313;
    --secondary-bg-color: #c4c4c4;
    --accent-color: #e85136;
    --color-white: #f2f2f2;
    --color-cream: #eae2d0;
    --color-blue: #6581eb;

    /*Portfolio Images*/
    --portfolio-1: url("./assets/portfolio-1.jpg");
    --portfolio-2: url("./assets/portfolio2.jpg");
    --portfolio-3: url("./assets/portfolio3.jpg");
    --portfolio-4: url("./assets/portfolio4.jpg");

    /* Transition variable */
    --transition: all 400ms ease;

}

::-webkit-scrollbar {
    display: none;
  }

body {
    background-color: var(--color-cream);
}

h1, h2, h3, h4, h5, .btn {
    font-family: var(--font-primary);
}


p {
    font-family: var(--font-secondary);
    font-weight: 200;
}


.justify-left {
    text-align: justify;
}

.section-title {
    font-size: 3rem;
}

.text-red {
    color: var(--accent-color);
}

.text-blue {
    color: var(--color-blue);
}

#button-dark {
    background: var(--primary-bg-color);
    transition: var(--transition);
}

#button-dark:hover {
    background: var(--accent-color);
    border-color: var(--color-white);
}

#submit-button {
    background: var(--primary-bg-color);
    color: var(--color-cream);
}

#submit-button:hover {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--color-cream);
}

#button-outline {
    background: transparent;
    transition: var(--transition);
    border-color: #e85136;
    color: var(--accent-color);
}

#button-outline:hover {
    background: var(--accent-color);
    color: var(--color-cream);
}

.background-dark {
    background: var(--primary-bg-color);
}

#button-red {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

#button-red:hover {
    background: var(--accent-color);
    color: var(--color-cream);
}



/* ===== Nav Bar ===== */

/*.nav-background {
    background: rgba(0, 0, 0, 0.3);
}

.nav-button {
    color: var(--color-white);
    border-radius: 50%;
}

.nav-button i {
    height: 20px;
    width: 20px;
}

.nav-button:hover {
    color: var(--accent-color);
    background: var(--color-white);
}*/

nav {
    position: fixed;
    z-index: 2;
}

.nav-background {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.5rem 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15);
}

.nav-button {
    background: transparent;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: var(--transition);
    border: none;
}

.nav-button:hover {
    color: var(--accent-color);
    background: var(--color-white);
}

.nav-button.active {
    color: var(--accent-color);
    background: var(--color-white);
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}



/* ===== */

.header-container {
    height: 100vh;
}

.header__image-container {

}

.header-image {
    width: 50%;

    object-fit: contain;
}

.text-pink {
    color: var(--accent-color);
}

.header-titles h1 {
    font-size: 5rem;
    line-height: 4.5rem;
}

.header-titles h2 {
    font-size: 2.3rem;
}

.header-titles h3 {
    font-size: 1.45rem;
}

.header-button {
    border-radius: 3rem;
}

.social-list {
    display: flex;
    gap: 1rem
}

.social-button {
    color: var(--primary-bg-color);
    font-size: 1.5rem;
    transition: 200ms color ease-in-out;
}

.social-button:hover {
    color: var(--accent-color);
}

.about__image-row {
    height: 40vh;
}


.about__image-container {
    width: fit-content;
    border: 5px solid var(--accent-color);
    border-radius: 6rem 6rem 0 0;
}

.about-image {
    height: 100%;
}

.line-seperator {
    width: 180px;
    opacity: 1;
    border: 1px solid var(--primary-bg-color);
}


.line-seperator-black {
    border: none;
    border-bottom: 1px solid var(--primary-bg-color);
}

.card-circle {
    height: 200px;
    width: 200px;
    background: var(--color-white);
    border-radius: 50%;
}

.card-icon {
    font-size: 5rem;
}

.progress__card-container {
    
}



.skill__card-border {
    border: 3px solid var(--accent-color);
    border-radius: 3rem;
}

.card__title-container {

}

.progress {
    border-radius: 2rem;
   
    background: var(--accent-color);
}

.progress-bar {
    background: var(--color-blue);
    font-family: var(--font-primary);
    border-radius: 0 2rem 2rem 0;
    border: 3px solid var(--color-blue);
    font-size: 1rem;
    color: var(--primary-bg-color);
}

.line-stripes {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rotated {
    transform: rotate(90deg);
}

.experience-title {
    border-radius: 2rem;
    width: 100%;
    border: 2px solid var(--accent-color);
    color: var(--color-cream);
    background: var(--accent-color);
}


.experience-subheading {
    font-size: 1rem;
    font-weight: 400;
}

.list-item {
    font-family: var(--font-secondary);
}

.project-image,
.gallery-image {
    width: 100%;
    border-radius: 2rem;
}

.project__image-long {
    border-radius: 2rem;
    width: 100%;
}


.gallery-container {
    border: 3px solid var(--primary-bg-color);
    border-radius: 2rem;
}

#gallery-button {
    color: var(--color-cream);
    background: var(--accent-color);
}

#gallery-button:hover {
    color: var(--color-blue);
}




#spotify-button {
    background-color: #1ed760;
}

#spotify-button a {
    text-decoration: none;
    color: inherit;
}

#spotify-button:hover {
    background-color: var(--color-white);
    color: var(--accent-color);
}

.text-area {
    height: 200px;
}

/* Contact Section */

.form-control {
    background: transparent;
    border-radius: 2rem;
    border-color: #131313;
}

.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: var(--accent-color);
    background: transparent;
}

/* Gallery */
.modal button.close {
    right: 0;
    outline: 0;
  }
    
  #gallery-lightbox img {
    height: 350px;
    object-fit: cover;
    cursor: pointer;
  }
  
  #gallery-lightbox img:hover {
    opacity: 0.9;
    transition: 0.5s ease-out;
  }

  #gallery-body {
    margin: 0;
    overflow-x: hidden;
  }

  .back-button {
    color: var(--primary-bg-color);
    background-color: transparent;
    border: 1px solid var(--secondary-bg-color);
    width: 2rem;
    height: 2rem;
    transition: var(--transition);
  }

  .back-button:hover {
    color: var(--color-white);
    background-color: var(--primary-bg-color);
    border: none;
  }